/* In your main CSS */
@import url('https://unpkg.com/leaflet/dist/leaflet.css');


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-color: var(--bs-body-bg, #fff);
  color: var(--bs-body-color, #212529);
  line-height: 1.5;

  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h1,h2,h3,h4,h5{
  font-weight: 700;
}

p{
  font-weight: 500;
}

body.dark {
  background-color: #0e0e0e;
  color: #f1f1f1;
}

.shoplist-container {
  background-color: #f8f9fa; /* A light grey background for the section */
}

/* Optional: Adds a subtle hover effect to the cards for better user experience */
.card {
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px); /* Lifts the card on hover */
}

body.dark .navbar {
  background-color: #296802 !important;
}


body.dark .dropdown-menu {
  background-color: #2b2b2b;
  color: white;
}

body.dark .dropdown-menu .dropdown-item {
  color: white;
}

body.dark .dropdown-menu .dropdown-item:hover {
  background-color: #3a3a3a;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Light mode override */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
    color: #000;
  }
}
